
body {
    text-align: center;
    background-image: url(https://cdn.wallpapersafari.com/6/30/DZ6cWf.jpg);
    background-size: cover;
    font-family: 'Nanum Gothic Coding', monospace;
}

h1 {
    color:black;
    background-color: rgb(190, 44, 44);
    border-style: double;
    border-radius: 5px;
    }

.topbarthing {
    color: black;
    background-color: rgb(214, 57, 57);
    text-align: center;
    justify-content: center;
    border-style: double;
    border-radius: 5px;
    height: 40px;
    width: 90%;
}

h2 {
    color: black;
    text-decoration-line: underline;
}
.paragraphlayout {
    color: black;
    background-color: snow;
    text-align: center;
    border-style: double;
    border-radius: 5px;
    margin-left: 41.5%;
    margin-right: 41.5%;
    width: 17%;
    height: 17%;
    position:absolute;
    top: 23%;
    justify-content: center;
}

div{
    background-color: snow;
    margin-left: 5%;
    margin-right: 75%;
    border-style: double;
    border-radius: 5px;
    width: 19.35%;
    height: 100%;
    bottom: 15%;
}

.aboutme {
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 75%;
    width: 19.35%;
    height: 37%;
    position:absolute;
    bottom: 12%;
}

.sectiontwo {
    color: rgb(214, 57, 57);
    margin-left: 40%;
    margin-right: 42%;
    width: 19.35%;
    height: 37%;
    position:absolute;
    bottom: 12%;
}

.sectionthree {
    color: black;
    margin-left: 70%;
    margin-right: 30;
    width: 25%;
    height: 63.65%;
    position:absolute;
    bottom: 12%;
}